.container {
    width: 100%;
    height: 100%;
    background-color: #4fc3f7;
    border-top-right-radius: 550px;
    position: absolute;
    content: "";
    opacity: 0.8;
}

.addfrom {
    display: grid;
    margin: 20px 0;
    grid-template-columns: 50% 50%;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin: 0 10px;
    content: "";
    position: relative;

    .item2 {
        text-align: center;
        width: 100%;
        cursor: pointer;
        .conimg {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            
            img {
                border-style: dashed;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
            }
        }

    }

    .item1 {

        padding: 10px;
        text-transform: capitalize;

        label {
            display: block;
            font-size: 0.9rem;
            text-transform: capitalize;


        }

        input {
            //margin: 0 10px;
            text-transform: capitalize;
            background-color: #fff;
            border-radius: 5px;


        }
        textarea{
            max-width: 100%;
            min-height: 80px;
            border: none;
            border-radius: 5px;
            padding: 10px;
            outline: none;
        }


    }
}