.nav {
    display: flex;
    height: 100px;
    background-color: transparent ;
    content: '';
    position: relative;
    background-image: url("../../image/wave-svg.svg");
   
    .logo {
        width:30%;
        height: auto;
        text-align: center;
    }

    .menu {
        width: 40%;
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            li {
                list-style: none;
                padding: 10px;
                a{
                    text-decoration: none;
                    color: #111;
                }
            }
        }
    }
    .end{
        width: 30%;
        height: auto;
        display: flex;
        align-items: center;
        button{
            height: 30px;
            margin: 20px 10px;
            border-radius: 10px;
            background-color: #536dfe   ;
            border: solid 0.3px #1976d2 ;
            padding: 0 10px;
            font-size: medium;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
        }
        button:hover{
            background-color: #fff;
        }
        a{
            margin: 9px;
            text-transform: uppercase;
            font-family: Georgia, 'Times New Roman', Times, serifs;
        }
    }

}